<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget" value="https://www.myget.org/F/3dsim-utility/auth/14dd5115-5433-4da8-b8a3-69fe02cf49cf/api/v2" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>